.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 75px;
    font-weight: 600;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 23%;
    background: #1FA198;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-decoration: none;
    
}
.course-col > a {
    text-decoration: none;
    color: #fff;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.3);
}