<!-- NAVBAR MEDICOS -->

<header class="navbar navbar-light bg-light">
   <div class="container-fluid Navbar">
      <a class="navbar-brand" href="../../index.html">
         <img
            src="../../Assets/Images/logo.png"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top"
         />
         Citas Grupo 3
      </a>
      <div class="Navbar-item">
         <a class="mx-3" href="../PreguntasFrecuentes/PreguntasFrecuentes.html"
            >Preguntas Frecuentes</a
         >
         <a class="mx-3" href="#">Blog</a>
         <a class="mx-3" href="#">Contacto</a>
      </div>
      <div class="d-flex gap-2 align-items-center">
         <img
            src="../../Assets/Images/Avatar_doctor.png"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top avatar-perfil"
         />
         <div class="input-group">
            <button
               class="btn color-primary-btn dropdown-toggle"
               type="button"
               data-bs-toggle="dropdown"
               aria-expanded="true"
            >
               Dr. House
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
               <li><a class="dropdown-item" href="#">Perfil</a></li>
               <li>
                  <a class="dropdown-item" href="../calendario1/index.html"
                     >Disponibilidad</a
                  >
               </li>
               <li><a class="dropdown-item" href="#">Citas</a></li>
               <li>
                  <a
                     class="dropdown-item"
                     href="../Historico_17/Historico_Citas.html"
                     >Historico</a
                  >
               </li>
               <li>
                  <a
                     class="dropdown-item"
                     href="../Preguntas_Privadas/PreguntasPriv.html"
                     >Preguntas privadas</a
                  >
               </li>
               <li>
                  <a
                     class="dropdown-item"
                     href="../visualizarComentariosMedico/visualizarComentariosMedico.html"
                     >Comentarios de pacientes</a
                  >
               </li>
               <li>
                  <a class="dropdown-item" href="../../index.html"
                     >Cerrar Sesión</a
                  >
               </li>
            </ul>
         </div>
      </div>
   </div>
</header>

<!-- NAVBAR PACIENTES -->

<header class="navbar navbar-light bg-light">
   <div class="container-fluid Navbar">
      <a class="navbar-brand" href="../../index.html">
         <img
            src="../../Assets/Images/logo.png"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top"
         />
         Citas Grupo 3
      </a>
      <div class="Navbar-item">
         <a class="mx-3" href="../PreguntasFrecuentes/PreguntasFrecuentes.html"
            >Preguntas Frecuentes</a
         >
         <a class="mx-3" href="#">Blog</a>
         <a class="mx-3" href="#">Contacto</a>
      </div>
      <div class="d-flex gap-2 align-items-center">
         <img
            src="../../Assets/Images/perfil.jpg"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top avatar-perfil"
         />
         <div class="input-group">
            <button
               class="btn color-primary-btn dropdown-toggle"
               type="button"
               data-bs-toggle="dropdown"
               aria-expanded="true"
            >
               Usuario
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
               <li><a class="dropdown-item" href="#">Perfil</a></li>
               <li>
                  <a class="dropdown-item" href="../Atenciones/Atenciones.html"
                     >Mis Citas</a
                  >
               </li>
               <li><a class="dropdown-item" href="#">Ayuda</a></li>
               <li>
                  <a class="dropdown-item" href="../../index.html"
                     >Cerrar Sesión</a
                  >
               </li>
            </ul>
         </div>
      </div>
   </div>
</header>

<!-- NAVBAR SIN INICIAR SESION -->
<header class="navbar navbar-light bg-light">
   <div class="container-fluid Navbar">
      <a class="navbar-brand" href="../../index.html">
         <img
            src="../../Assets/Images/logo.png"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top"
         />
         Citas Grupo 3
      </a>
      <div class="Navbar-item">
         <a class="mx-3" href="../PreguntasFrecuentes/PreguntasFrecuentes.html"
            >Preguntas Frecuentes</a
         >
         <a class="mx-3" href="#">Blog</a>
         <a class="mx-3" href="#">Contacto</a>
      </div>
      <div>
         <a
            href="Components/loginMedico/loginMedico.html"
            class="btn btn-outline-secondary"
            >¿Eres Médico?</a
         >
         <a
            href="Components/Login_21/Log_Paciente.html"
            class="btn color-primary-bg-btn"
            >Agenda una cita</a
         >
      </div>
   </div>
</header>
